.button {
  border-radius: 16px;
  border: solid var(--black-transparent) 1px;
  padding: 6px 14px;
  background-color: var(--grey);
  transition: all 0.2s ease-in-out;
}

.button-text {
  font-size: 1.2rem;
  color: var(--text-secondary);
}

.button:hover {
  background-color: var(--black-transparent);
}

.button:active {
  transform: scale(0.9);
}
