.navbar {
  height: 65px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar-menu-icon {
  padding: 1rem;
}

.navbar-menu {
  position: fixed;
  top: 0;
  width: 200px;
  height: 320px;
  background-color: var(--background);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
  border-radius: 0 0 0 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.7rem;
}

.menu-open-animation {
  animation: slideInRight;
  animation-duration: 0.3s;
}

.menu-close-animation {
  animation: slideOutRight;
  animation-duration: 0.3s;
}

.menu-pages {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 2rem;
}

.page {
  width: 160px;
  color: var(--text);
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-pages {
  flex: 1;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.active {
  font-weight: 800;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  .navbar-menu-icon {
    display: none;
  }
  .navbar-pages {
    display: flex;
  }
  .page {
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
  }
  .page:hover {
    opacity: 0.6;
  }
}
