.footer {
  height: 65px;
  width: 100%;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .footer {
    gap: 2rem;
  }
}
