@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply font-body bg-neutral-50 text-neutral-900;
}

::selection {
  @apply bg-neutral-900 text-neutral-50;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
